{% extends "base.html" %}
{% load django_markdown %}

{% block nav-feed %} <a class="blog-nav-item active" href="{% url "index" %}">Feed</a> {% endblock %}

{% block help_text %}
Enter information to produce a new post! You may or may not decrypt your post. You may enter regular text or markdown.
<br><br><br>
<div class="sidebar-module sidebar-module-inset">
<h4>Select Ordering Property</h4>
	<FORM name="f2"> 
		<SELECT name="s2" onChange="window.location=document.f2.s2.options[document.f2.s2.selectedIndex].value"> 
			<option selected="selected" disabled="disabled">Choose Attribute</option>
			<OPTION value="{% url "index" %}">Date (Ascending)
			<OPTION value="{% url "by_date_desc" %}">Date (Descending)
			<OPTION value="{% url "by_slug" %}">Slug
			<OPTION value="{% url "by_body" %}">Body
			<OPTION value="{% url "by_title" %}">Title
		</SELECT> 
	</FORM> 
</div>{% endblock %}

{% block content %}
<h1>SecureWitness</h1><h3>A System to Support Human Rights Data Collection
</h3>
<br>


{% for object in object_list %}
  <div class="post">
    <h2><a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a></h2>
    <p class="meta">
      <strong>Post Date:</strong> {{ object.created }}
    </p>
    {{ object.body|markdown }}
  </div>
{% endfor %}
{% endblock %}
