{% extends "base.html" %}
{% load django_markdown %}

{% block help_text %}
Enter information to produce a new post! You may or may not decrypt your post. You may enter regular text or markdown.
{% endblock %}

{% block content %}
  <div class="post">
    <h2><a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a></h2>
    <h4><a href="{% url "blog_edit" slug=object.slug %}">Edit</a>
    | <a href="{% url "blog_delete" slug=object.slug %}">Delete</a></h4>    
    <p class="meta">
      <strong>Author:</strong> {{ object.author }}<br><strong>Post Date:</strong> {{ object.created }}<br><strong>Event Location:</strong> {{ object.event_location }}<br><strong>Event Date:</strong> {{ object.event_date }}<br><strong>Event Filed In:</strong> {{ object.tagline }}
		{% if object.myFile != "" %}
			{% if object.has_enc == "True" %}
				| <a href="{% url "decrypt_form" slug=object.slug %}">Encrypted Archive</a>
			{% else %}
				| <a href="{{ object.myFile.url }}">Unencrypted Archive</a> 
			{% endif %}
		{% endif %}
    </p>
    {{ object.body|markdown }}
  </div>
{% endblock %}
