{% extends "base.html" %}
{% load django_markdown %}

{% block content %}
  <div class="post">
    <h2><a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a></h2>
    <h2><a href="{% url "blog_edit" slug=object.slug %}">Edit</a></h2>
    <h2><a href="{% url "blog_delete" slug=object.slug %}">Delete</a></h2>    
    <h2><a href="{% url "blog_copy" slug=object.slug %}">Copy</a></h2>        
    <p class="meta">
      {{ object.created }}
		{% if object.myFile != "" %}
			{% if object.has_enc == "True" %}
				| <a href="{% url "decrypt_form" slug=object.slug %}">Encrypted Archive</a>
			{% else %}
				| <a href="{{ object.myFile.url }}">Unencrypted Archive</a> 
			{% endif %}
		{% endif %}
    </p>
    {{ object.body|markdown }}
  </div>
{% endblock %}
